@model IEnumerable<Order>

@{
    ViewData["Title"] = "All orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p><h4>List of all your orders</h4></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   
                <tr>
                    <td class="align-middle">@item.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none">
                            @foreach (var row in item.OrderItems)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-success">@row.Amount</span>[@row.Price.ToString("c")]-@row.Movie.Name
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @*@item.OrderItems.Sum(x=>x.Amount*x.Price).ToString("c")*@

                        @item.OrderItems.Select(x => x.Amount * x.Price).Sum().ToString("c")
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle"> @item.User.FullName</td>
                    }
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
